# Database
DATABASE_URL="postgresql://masar_user:masar_password@localhost:5432/masar_db?schema=public"

# Redis Cache & Sync
REDIS_URL="redis://localhost:6379"

# Meilisearch Full-Text Search
MEILISEARCH_HOST="http://localhost:7700"
MEILISEARCH_KEY="masar_master_key"

# Authentication & Security
JWT_SECRET="masar_super_secret_jwt_key_2026"
JWT_EXPIRES_IN="7d"

# Client Web URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:4000"

# Application Environment
NODE_ENV="development"
PORT=4000
